* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: gainsboro;
    font-family: 'Roboto', sans-serif;
}

.btn {
    cursor: pointer;
    background-color: lavender;
    font-size: 24px;
    border-radius: 5px;
    border: 2px solid black;
    font-weight: bold;
    box-shadow: 2px 2px;
}

.btn:hover {
    background-color: aliceblue;
}

.btn:active {
    background-color: rgb(202, 208, 214);
    box-shadow: 0px 0px;
}


/* MAIN */

.main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#calculator {
    background-color: darkgray;
    padding: 20px;
    margin: 32px;
    border: 3px solid black;
    border-radius: 10px;
    max-width: 450px;
    max-height: 600px;
    width: 60vmin;
    height: 80vmin;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 10px 10px;
}

#display {
    background-color: white;
    border: 3.5px solid black;
    border-radius: 5px;
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: right;
    padding: 8px 16px;
}

#prior-operation {
    flex: 1;
    font-size: 25px;
    display: flex;
    align-items:center;
    justify-content: flex-end;
}

#current-entry {
    flex: 2;
    font-size: 50px;
    display: flex;
    align-items:center;
    justify-content: flex-end;
}

#calc-buttons {
    flex: 4;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    column-gap: 12px;
    row-gap: 12px;
}

.small-text {
    font-size: 20px;
}

.large-text {
    font-size: 36px;
}

.double-height {
    grid-row: span 2;
}

.salmon {
    background-color: rgb(250, 150, 140);
}

.salmon:hover {
    background-color: lightsalmon;
}

.salmon:active {
    background-color: darksalmon;
}

.beige {
    background-color: beige;
}

.note {
    margin-bottom: 32px;
    width: 75vmin;
}

/* Keyboard Shortcuts Table */

#shortcuts {
    border-collapse: collapse;
    border: 2px solid darkblue;
    max-width: 600px;
    width: 90vw;
    margin-bottom: 32px;
    margin: 8px;
}

#shortcuts td, #shortcuts th {
border: 2px solid black;
padding: 8px;
text-align: left;
}

#shortcuts tr {background-color: #f2f2f2;}

#shortcuts tr:nth-child(even){background-color: #f2f2f2;}

#shortcuts th {
padding-top: 12px;
padding-bottom: 12px;
text-align: left;
background-color:darkslategrey;
color: white;
}


/* FOOTER */

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: auto;
    padding: 10px;
}

.fa-github {
    color: black;
    font-size: 24px;
}
